@font-face {
    font-family: "test";
    src: url("./fonts/Roboto/Roboto-Thin.ttf");
}


*{
    font-family: "test";
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    color: #fff;
    background: #F23030
}